{% extends "base.html" %}
{% block title %}Yönetim Paneli{% endblock %}
{% block content %}
  <h3 class="mb-4">Yönetim Paneli</h3>
  <table class="table table-bordered table-striped">
    <thead class="table-light">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Kullanıcı Adı</th>
        <th scope="col">Rol</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.role }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
