{% extends "base.html" %}
{% block title %}Kayıt Ol{% endblock %}
{% block content %}
  <h3 class="mb-4">Yeni Hesap Oluştur</h3>
  <form method="post" action="{{ url_for('auth.register') }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="mb-3">
      <label for="username" class="form-label">Kullanıcı Adı</label>
      <input type="text" id="username" name="username" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Şifre</label>
      <input type="password" id="password" name="password" class="form-control" required>
    </div>

    <!-- Yeni rol seçimi alanı -->
    <div class="mb-3">
      <label for="role" class="form-label">Rol</label>
      <select id="role" name="role" class="form-select" required>
        <option value="{{ Role.USER }}">Kullanıcı</option>
        <option value="{{ Role.EDITOR }}">Düzenleyici</option>
      </select>
    </div>

    <button type="submit" class="btn btn-success">Kayıt Ol</button>
  </form>
  <p class="mt-3">
    Zaten üye misiniz?
    <a href="{{ url_for('auth.login') }}">Giriş Yapın</a>
  </p>
{% endblock %}
